.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store

/.quarto/
/posts/2023-08-04-data-cleaning-tombstone/Photos/
posts/2023-08-14-mapping-tombstone/Map/Anderson Adesia.JPG
posts/2023-08-14-mapping-tombstone/Map/Anderson Albert A.JPG
posts/2023-08-14-mapping-tombstone/Map/Anderson E Francis.JPG
posts/2023-08-14-mapping-tombstone/Map/Anderson Nancy A.JPG
posts/2023-08-14-mapping-tombstone/Map/Anderson William G.JPG
posts/2023-08-14-mapping-tombstone/Map/Anderson Zady_panel.png
posts/2023-08-14-mapping-tombstone/Map/Appleton Richard_panel.png
posts/2023-08-14-mapping-tombstone/Map/Baggett Mahalia_panel.png
posts/2023-08-14-mapping-tombstone/Map/Baldwin William_panel.png
posts/2023-08-14-mapping-tombstone/Map/Beasley EC_panel.png
posts/2023-08-14-mapping-tombstone/Map/Brown Elizabeth Minnich.jpg
posts/2023-08-14-mapping-tombstone/Map/Brown Joel_panel.png
posts/2023-08-14-mapping-tombstone/Map/Bundy Clem_panel.png
posts/2023-08-14-mapping-tombstone/Map/Bundy George and Lora L.JPG
posts/2023-08-14-mapping-tombstone/Map/Bundy Nancy chalk.jpg
posts/2023-08-14-mapping-tombstone/Map/Bundy Thomas.JPG
posts/2023-08-14-mapping-tombstone/Map/Bundy WM chalk.jpg
posts/2023-08-14-mapping-tombstone/Map/Burgess Alzada_panel.png
posts/2023-08-14-mapping-tombstone/Map/Burgess WJ.JPG
posts/2023-08-14-mapping-tombstone/Map/Chapman Caroline_panel.png
posts/2023-08-14-mapping-tombstone/Map/Chapman Polly_panel.png
posts/2023-08-14-mapping-tombstone/Map/Chapman Samuel_panel.png
posts/2023-08-14-mapping-tombstone/Map/Clayton GM Ellen P.JPG
posts/2023-08-14-mapping-tombstone/Map/Clayton LS Mary A.JPG
posts/2023-08-14-mapping-tombstone/Map/Crockett John_panel.png
posts/2023-08-14-mapping-tombstone/Map/Crockett Mandy_panel.png
posts/2023-08-14-mapping-tombstone/Map/Davis Ezra N.JPG
posts/2023-08-14-mapping-tombstone/Map/Davis Lizzie.JPG
posts/2023-08-14-mapping-tombstone/Map/Dolch Catherine S_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dolch Christian_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dolch Peter.JPG
posts/2023-08-14-mapping-tombstone/Map/Doley G Clyde and D Hilda.JPG
posts/2023-08-14-mapping-tombstone/Map/Doley L Earl.JPG
posts/2023-08-14-mapping-tombstone/Map/Doley Maggie M.JPG
posts/2023-08-14-mapping-tombstone/Map/Doley William F.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris AC_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dorris EL and Sarah E.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris James J.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris James W and Georgia A.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris John W_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dorris Rebecca_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dorris Robert T Chalk.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris Sarah_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dorris Smith H.jpg
posts/2023-08-14-mapping-tombstone/Map/Dorris WE.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris William T Mary C.JPG
posts/2023-08-14-mapping-tombstone/Map/Dorris WP_panel.png
posts/2023-08-14-mapping-tombstone/Map/Dorris WR.JPG
posts/2023-08-14-mapping-tombstone/Map/Drake Mary.jpg
posts/2023-08-14-mapping-tombstone/Map/Dreisbach Johannes.JPG
posts/2023-08-14-mapping-tombstone/Map/Everett Semantha_panel.png
posts/2023-08-14-mapping-tombstone/Map/Finch Isaac_panel.png
posts/2023-08-14-mapping-tombstone/Map/Follis A O_panel.png
posts/2023-08-14-mapping-tombstone/Map/Follis Christian R chalk.JPG
posts/2023-08-14-mapping-tombstone/Map/Follis E P challk.JPG
posts/2023-08-14-mapping-tombstone/Map/Follis Fawn W_panel.png
posts/2023-08-14-mapping-tombstone/Map/Follis G W_panel.png
posts/2023-08-14-mapping-tombstone/Map/Follis Jeff M_panel.png
posts/2023-08-14-mapping-tombstone/Map/Follis Ralph R chalk.JPG
posts/2023-08-14-mapping-tombstone/Map/Follis Ralph_panel.png
posts/2023-08-14-mapping-tombstone/Map/Ford Florence W.JPG
posts/2023-08-14-mapping-tombstone/Map/Frost Ebenezer_panel.png
posts/2023-08-14-mapping-tombstone/Map/Fuqua William_panel.png
posts/2023-08-14-mapping-tombstone/Map/Gregory Leonard N.JPG
posts/2023-08-14-mapping-tombstone/Map/Gregory Lucille Doley.JPG
posts/2023-08-14-mapping-tombstone/Map/Hart Parmelia_panel.png
posts/2023-08-14-mapping-tombstone/Map/Hess Adolphus_panel.png
posts/2023-08-14-mapping-tombstone/Map/Hess Amalphus_panel.png
posts/2023-08-14-mapping-tombstone/Map/Hess Bernice L.JPG
posts/2023-08-14-mapping-tombstone/Map/Hess Catherine West.JPG
posts/2023-08-14-mapping-tombstone/Map/Hess Franklin.JPG
posts/2023-08-14-mapping-tombstone/Map/Hess George Dougin.JPG
posts/2023-08-14-mapping-tombstone/Map/Hess Jerome B.JPG
posts/2023-08-14-mapping-tombstone/Map/Hess Samuel Jackson Chapman.JPG
posts/2023-08-14-mapping-tombstone/Map/Hess Samuel_panel.png
posts/2023-08-14-mapping-tombstone/Map/Holt Lucinda_panel.png
posts/2023-08-14-mapping-tombstone/Map/Horlacher Daniel_panel.png
posts/2023-08-14-mapping-tombstone/Map/Horlacher Margaretha_panel.png
posts/2023-08-14-mapping-tombstone/Map/Horrall Polly wf J.JPG
posts/2023-08-14-mapping-tombstone/Map/Horrall William_panel.png
posts/2023-08-14-mapping-tombstone/Map/Hurt Elizabeth chalk.jpg
posts/2023-08-14-mapping-tombstone/Map/Jacobs Jeremiah_panel.png
posts/2023-08-14-mapping-tombstone/Map/Jacobs Rebecca.JPG
posts/2023-08-14-mapping-tombstone/Map/Johnson James N.JPG
posts/2023-08-14-mapping-tombstone/Map/Johnson Mary E.JPG
posts/2023-08-14-mapping-tombstone/Map/Jones Ezra L  Nannie C.JPG
posts/2023-08-14-mapping-tombstone/Map/Jones James T  Tina.JPG
posts/2023-08-14-mapping-tombstone/Map/Jones John.JPG
posts/2023-08-14-mapping-tombstone/Map/Jones Levi A Jones Hester J.JPG
posts/2023-08-14-mapping-tombstone/Map/Jones Ridley A.JPG
posts/2023-08-14-mapping-tombstone/Map/Jones Samuel D Melverda.JPG
posts/2023-08-14-mapping-tombstone/Map/Karnes Willard M_panel.png
posts/2023-08-14-mapping-tombstone/Map/Kleppinger Anna Maria_panel.png
posts/2023-08-14-mapping-tombstone/Map/Lipsey Joe F.JPG
posts/2023-08-14-mapping-tombstone/Map/Loomis Jon_panel.png
posts/2023-08-14-mapping-tombstone/Map/Merrell Abigail_panel.png
posts/2023-08-14-mapping-tombstone/Map/Merrell Azariah_panel.png
posts/2023-08-14-mapping-tombstone/Map/Mildenberger Nicolaus.JPG
posts/2023-08-14-mapping-tombstone/Map/Miller Myrtie V.JPG
posts/2023-08-14-mapping-tombstone/Map/Mory Catherina..JPG
posts/2023-08-14-mapping-tombstone/Map/Mory Gotthard.JPG
posts/2023-08-14-mapping-tombstone/Map/Mory Magdelena_panel.png
posts/2023-08-14-mapping-tombstone/Map/Mory Peter.JPG
posts/2023-08-14-mapping-tombstone/Map/Nagel Caty_panel.png
posts/2023-08-14-mapping-tombstone/Map/Nagel Daniel.jpg
posts/2023-08-14-mapping-tombstone/Map/Nagel Johann Georg_panel.png
posts/2023-08-14-mapping-tombstone/Map/Nagel Will F Adeline L.JPG
posts/2023-08-14-mapping-tombstone/Map/Nagle John D distance.JPG
posts/2023-08-14-mapping-tombstone/Map/Nutty Beatrice.JPG
posts/2023-08-14-mapping-tombstone/Map/Odom Archibald_panel.png
posts/2023-08-14-mapping-tombstone/Map/Odom Cynthia Ann.JPG
posts/2023-08-14-mapping-tombstone/Map/Odom GW.JPG
posts/2023-08-14-mapping-tombstone/Map/Odom Sarah M.JPG
posts/2023-08-14-mapping-tombstone/Map/Odum Wiley Sallie A.jpg
posts/2023-08-14-mapping-tombstone/Map/Peters Charlotte_panel.png
posts/2023-08-14-mapping-tombstone/Map/Peters Daniel_panel.png
posts/2023-08-14-mapping-tombstone/Map/Pickard William Epps.JPG
posts/2023-08-14-mapping-tombstone/Map/Pletz Karl F.JPG
posts/2023-08-14-mapping-tombstone/Map/Rex Arthur.JPG
posts/2023-08-14-mapping-tombstone/Map/Rex Bertie.JPG
posts/2023-08-14-mapping-tombstone/Map/Rex George W_panel.png
posts/2023-08-14-mapping-tombstone/Map/Rex Guy.JPG
posts/2023-08-14-mapping-tombstone/Map/Rex Harlie G.JPG
posts/2023-08-14-mapping-tombstone/Map/Rex Jno_panel.png
posts/2023-08-14-mapping-tombstone/Map/Rex Lily.JPG
posts/2023-08-14-mapping-tombstone/Map/Rex Lulie.JPG
posts/2023-08-14-mapping-tombstone/Map/Riegel Catherine_panel.png
posts/2023-08-14-mapping-tombstone/Map/Riegel Solomon_panel.png
posts/2023-08-14-mapping-tombstone/Map/Ritter J M_panel.png
posts/2023-08-14-mapping-tombstone/Map/Ritter Mary J_panel.png
posts/2023-08-14-mapping-tombstone/Map/Rockel Elisabetha Lehrer no chalk.JPG
posts/2023-08-14-mapping-tombstone/Map/Rockel Elizabeth_panel.png
posts/2023-08-14-mapping-tombstone/Map/Rockel Johannes_panel.png
posts/2023-08-14-mapping-tombstone/Map/Ross Euna.jpg
posts/2023-08-14-mapping-tombstone/Map/Ruckel Mary.jpg
posts/2023-08-14-mapping-tombstone/Map/Ruckel Melchir.jpg
posts/2023-08-14-mapping-tombstone/Map/Sinks A T_panel.png
posts/2023-08-14-mapping-tombstone/Map/Sinks Anna Lorena.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Arlie T.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Arlie.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Caroline_panel.png
posts/2023-08-14-mapping-tombstone/Map/Sinks Charlotte J.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Daniel.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Elizabeth.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Etta Faye.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Eva E  Arlie T.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Francis A_panel.png
posts/2023-08-14-mapping-tombstone/Map/Sinks John A.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks John H.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Mae.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Martha J.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Mary E.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Salem_panel.png
posts/2023-08-14-mapping-tombstone/Map/Sinks Sena L.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks Viola.JPG
posts/2023-08-14-mapping-tombstone/Map/Sinks William D_panel.png
posts/2023-08-14-mapping-tombstone/Map/Sinks William J_panel.png
posts/2023-08-14-mapping-tombstone/Map/Steen Richard G.JPG
posts/2023-08-14-mapping-tombstone/Map/Sweet Jewell S.JPG
posts/2023-08-14-mapping-tombstone/Map/VanCleve JE.JPG
posts/2023-08-14-mapping-tombstone/Map/VanCleve Martin T Florence A.jpg
posts/2023-08-14-mapping-tombstone/Map/VanCleve WF.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach Cynthia M.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach James Allen.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach James C Nannie.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach John Logan.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach Pleasant G Victoria.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach Pleasant_panel.png
posts/2023-08-14-mapping-tombstone/Map/Veach Rose Ella.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach Ruth E.JPG
posts/2023-08-14-mapping-tombstone/Map/Veach Ward B.JPG
posts/2023-08-14-mapping-tombstone/Map/Veatch Frelin_panel.png
posts/2023-08-14-mapping-tombstone/Map/Veatch John_panel.png
posts/2023-08-14-mapping-tombstone/Map/Veatch Mary_panel.png
posts/2023-08-14-mapping-tombstone/Map/Ware Martha A.JPG
posts/2023-08-14-mapping-tombstone/Map/Ware Turner chalk.JPG
posts/2023-08-14-mapping-tombstone/Map/Weir James C Mary Bell No challk.JPG
posts/2023-08-14-mapping-tombstone/Map/Whiteside Lucinda Jane and John V.jpg
posts/2023-08-14-mapping-tombstone/Map/Wilson Joseph_panel.png
posts/2023-08-14-mapping-tombstone/Map/Wilson Lutetita Chandler.jpg
posts/2023-08-14-mapping-tombstone/Map/Wilson Sallie J_panel.png
posts/2023-08-14-mapping-tombstone/Map/Wilson Thomas Sarah.jpg
posts/2023-08-14-mapping-tombstone/Map/Wise Luvena Woolard.jpg
posts/2023-08-14-mapping-tombstone/Map/Woolard Ama_panel.png
posts/2023-08-14-mapping-tombstone/Map/Woolard Anna F.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard C Leonard and Blanche B.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Francis J.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard George H and Nancy V Woolard.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard James B.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard James H.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard John Edward.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Lawrence A and Etta G.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard LB.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Millie Caroline.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Nettie.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Robert.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Romey D.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard Turner W.JPG
posts/2023-08-14-mapping-tombstone/Map/Woolard William C.JPG
