project:
  type: website
  output-dir: docs

website:
  title: "Louise E. Sinks"
  navbar:
    title: "Louise E. Sinks"
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true

editor: visual

